@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");

html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Doppio One", sans-serif;
  background-color: #fddede;
}

footer {
  overflow: hidden;
  background-color: #ff9d9d;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

img {
  -webkit-user-drag: none;
}

.header {
  display: flex;
  width: 100%;
  height: 25%;
  font-size: 30px;
}

.logoDiv {
  float: left;
  width: 56%;
  height: 100%;
  margin-top: 2%;
}

.logoDiv img {
  float: right;
  width: 20%;
  user-select: none; 
}

.navDiv {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 1%;
  gap: 12px;
}

.navDivLogReg {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 1%;
  gap: 12px;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 150px;
}

.navDivLogReg span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

.navDivLanding {
  display: flex;
  float: right;
  margin-top: 1%;
  gap: 12px;
  margin-left: auto;
  margin-right: 1%;
}

.navDiv span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

.navDivLanding span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
  height: fit-content;
}

.navButton {
  float: right;
  padding: 20px;
  justify-content: flex-end;
}

.main {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.box {
  width: 50%;
  max-height: 40%;
}

.box h2 {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.box div {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

#requestBox {
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  max-width: 40%;
  float: right;
  margin-right: 200px;
}

.requestText {
  font-size: 25px;
}

#decoBox {
  width: 50%;
}

#decoBox img {
  position: absolute;
  margin-top: 53px;
  margin-left: 200px;
  max-height: 50%;
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_center a {
  text-align: center;
  width: 20%;
}

#examlogo {
  padding-bottom: 3em;
  max-width: 260px;
  margin-top: 2%;
}

#registerBox {
  display: flex;
  justify-content: center;
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

#registerForm {
  font-size: 1.2em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
  width: 700px;
}

#registerForm > input {
  border-radius: 5px;
  width: 250px;
}

#firstname,
#lastname,
#password,
#affSchool,
#email {
  height: 30px;
  padding: 5px;
}

.submitBtn {
  height: 60px;
  
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  background-color: #cd3838;
  color: #ffffff;
  font-family: "Doppio One", sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: #111;
}

.submitBtn:hover {
  cursor: pointer;
}

.alreadyLogin {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  height: 300px;
  width: 15%;
  background-color: #d15c5c;
  border-radius: 10px;
  font-size: 15px;
  border-style: solid;
}

.alreadyLogin div {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: 70%;
}

.alreadyLogin > button {
  background-color: #ff9d9d;
  font-family: "Doppio One", sans-serif;
  height: 35px;
  width: auto;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 15px;
  border-style: solid;
  border-color: black;
}

.alreadyLogin h2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.alreadyLogin a {
  height: 75%;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  padding: 5px;
}

.alreadyLogin img {
  max-height: 75%;
  user-select: none;
}

#loginBox {
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
}

#loginForm {
  font-size: 1.2em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
}

#loginForm input {
  border-radius: 5px;
  width: 150px;
  margin-right: 10px;
}

.adminBtn {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.adminBtn > button {
  margin: 10px;
  font-family: "Doppio One", sans-serif;
  font-size: 1em;
  font-weight: 100;
  width: fit-content;
  background-color: #ff9d9d;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
}

.adminBtn > button:hover {
  cursor: pointer;
}

.adminContent {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: #d15c5c;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.adminUsers {
  background-color: #ffffff;
  width: 600px;
  height: 300px;
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

#topavatar {
  width: 60px;
}



#katt {
  position: sticky;
  width: 200px;
  z-index: 1;
  margin-left: 200px;
  margin-top: 4%;
}

#mainindex {
  margin: 0 auto;
  width: 98%;
  height: 620px;
  display: flex;
  background-color: #d15c5c;
  border-radius: 10px;
}

#headerindex {
  display: flex;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
}

#blackindexEM {
  margin-top: 5px;
  max-height: 45.33px;
}

.logicon {
  height: 30px;
  bottom: 0;
}

#navbar {
  width: 46%;
  float: left;
  margin-top: 1%;
}

#navbar a {
  background-color: #ff9d9d;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 4px;
  margin-left: 10px;
}

#innernavbar {
  display: flex;
  justify-content: space-around;
  background-color: #d15c5c;
  max-height: 100%;
  width: 830px;
  padding: 5px 10px;
  padding-left: 30px;
  margin-left: 20px;
  border-radius: 10px;
}

#notifdropdown {
  float: left;
}

#topbell {
  height: 50px;
}

#dropbtn {
  all: unset;
  height: fit-content;
}

#dropbtn img {
  background-color: #ff9d9d;
  border-radius: 5px;
  margin-right: 630px; /* midlertidig løsning */
  
}

#navDivIndex {
  width: 54%;
  float: right;
  margin-top: 1%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#navDivIndex span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

li #imhere {
  background-color: #680000;
  color: white;
}

.centerDiv {
  display: flex;
  margin-top: 1%;
  margin-left: auto;
  margin-right: 1%;
}

select{
  float: right;
}

#filterheader {
  background-color: #cd3838;
  border: black solid;
  width: 50%;
}

#filterheader h3 {
  color: white;
}

h3{
  font-size: 30px;
  margin: 0%;
}

#filtersindex {
  background-color: #ff9d9d;
  border: black solid;
  width: 60%;
  font-size: 20px;
}

.tagShow {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tagShow > span {
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 5px;
  -webkit-text-stroke: 0.7px rgb(0, 0, 0);
  padding: 1px;
}

.reqtag{
  margin-top: 26px;
}

.fa-bookmark{
  margin-bottom: 13%;
  margin-left: 4%;
}

.fa-bookmark:hover{
  background-color: rgb(185, 37, 37);
}

.fa-bookmark:active{
  background-color: rgb(109, 24, 24);
}

.fa-angle-down{
  margin-left: 18%;
  margin-top: 40px;
}

#newrequest{
  background-color: #680000;
  color: white;
  border: black solid;
  width: 20%;
  text-align: center;
  margin-left: 23%;
}

#newrequest button{
  all: unset;
}

h4{
  font-size: 25px;
  text-align: center;
}

.chatBox {
  margin-top: 2%;
  height: 500px;
  width: 70%;
  margin-right: 10%;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
}

#chat1,
#chat2,
#chat3 {
  display: flex;
  align-items: center;
  font-family: "Doppio One", sans-serif;
  height: 130px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ff9d9d;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 20px;

}

#chatAvatar {
  width: 100px;
  padding-right: 40px;
}

#searchbutton{
  background-color: #ff9d9d;
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 50px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#searchbox{
  background-color: #ff9d9d;
  border: none;
  border-radius: 3px;
  color: black;
  max-height: 50px;
  margin-left: 729px;
  margin-top: 20px;
  font-size: 28px;
  width: 20%;
}

::placeholder{
  color: rgb(0, 0, 0);
  font-size: 28px;
}

#searchform{
  display: flex;
  align-content: center;
}

.requestheader{
  font-size: 27px;
  margin: 0;
}


.tagItems{
display: flex;
flex-wrap: wrap;
gap: 15px;
}

.tagItems > label {
  -webkit-text-stroke: 0.7px rgb(0, 0, 0);  
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

label > span {
  border-radius: 3px;
  padding: 2px;
}




input {
  width: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  top: -1px;
}

.tagItems > input {
  width: 15px;
  height: 15px;
}

.avaname .teachername{
  margin: 0;
}

.dropdownDiv {
  display: flex;
  justify-content: space-between;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1400px) {
  .header {
    height: 10%;
  }

  footer {
    height: 16.5%;
    font-size: 8px;
    margin-top: 100px;
  }

  #requestBox {
    background-color: #d15c5c;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    max-width: none;
    float: none;
    margin-left: 200px;
  }

  #decoBox {
    margin-top: 100px;
  }

  .box div {
    padding: none;
  }

  .requestText {
    margin: 0;
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobil */
}
