@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");

html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Doppio One", sans-serif;
  background-color: #fddede;
}

footer {
  overflow: hidden;
  background-color: #ff9d9d;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img {
  -webkit-user-drag: none;
}

.header {
  display: flex;
  width: 100%;
  height: 25%;
  font-size: 30px;
}

.logoDiv {
  float: left;
  width: 56%;
  height: 100%;
  margin-top: 2%;
}

.logoDiv img {
  float: right;
  width: 20%;
  user-select: none;
}

.navDiv {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 1%;
  gap: 12px;
}

.navDivLogReg {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 1%;
  gap: 12px;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 150px;
}

.navDivLogReg span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

.navDivLanding {
  display: flex;
  float: right;
  margin-top: 1%;
  gap: 12px;
  margin-left: auto;
  margin-right: 1%;
}

.navDiv span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

.navDivLanding span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
  height: fit-content;
}

.navButton {
  float: right;
  padding: 20px;
  justify-content: flex-end;
}

.main {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.box {
  width: 50%;
  max-height: 40%;
}

.box h2 {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.box div {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

#requestBox {
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  max-width: 40%;
  float: right;
  margin-right: 200px;
}

.requestText {
  font-size: 25px;
}

#decoBox {
  width: 50%;
}

#decoBox img {
  position: absolute;
  margin-top: 53px;
  margin-left: 200px;
  max-height: 50%;
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_center a {
  text-align: center;
  width: 20%;
}

#examlogo {
  padding-bottom: 3em;
  max-width: 260px;
  margin-top: 2%;
}

#registerBox {
  display: flex;
  justify-content: center;
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

#registerForm {
  font-size: 1em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
  width: 500px;
  height: 450px;
  display: flex;
  align-items: center;
/*   justify-content: center; */
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b67272; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e4f4f; 
}

#registerForm > input {
  border-radius: 5px;
  width: 250px;
}

#firstname,
#lastname,
#password,
#affSchool,
#email {
  height: 30px;
  padding: 5px;
  margin: -15px;
}
#emailInput {
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
}
#emailLogin,
#passwordLogin {
  height: 20px;
  padding: 5px;
/*   margin-bottom: 25px; */
}

.submitBtn {
  height: 60px;
  width: fit-content;
  background-color: #cd3838;
  color: #ffffff;
  font-family: "Doppio One", sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: #111;
  border-radius: 5px;
}

.submitBtn:hover {
  cursor: pointer;
}

.alreadyLogin {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  height: 300px;
  width: 15%;
  background-color: #d15c5c;
  border-radius: 10px;
  font-size: 15px;
  border-style: solid;
}

.alreadyLogin div {
  background-color: #ff9d9d;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: 85%;
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alreadyLogin > button {
  background-color: #ff9d9d;
  font-family: "Doppio One", sans-serif;
  height: 35px;
  width: auto;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 15px;
  border-style: solid;
  border-color: black;
}

.alreadyLogin h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 25px;
}

.alreadyLogin a {
  height: 75%;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  padding: 10px;
}

.alreadyLogin img {
  max-height: 75%;
  user-select: none;
}

#loginBox {
  background-color: #d15c5c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
  width: 20%;
  display: flex;
}

#loginForm {
  font-size: 1.2em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
/*   padding-left: 3%; */
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#loginForm input {
  border-radius: 5px;
  width: 150px;
/*   margin-right: 10px; */
}


/* Style for admin page*/

.adminBtn {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.adminBtn > button {
  margin: 10px;
  font-family: "Doppio One", sans-serif;
  font-size: 1em;
  font-weight: 100;
  width: fit-content;
  background-color: #ff9d9d;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
}

.adminBtn > button:hover {
  cursor: pointer;
}

.adminContent {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: #d15c5c;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.adminUsers {
  background-color: #ffffff;
  width: 600px;
  height: 350px;
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#adminEdit {
  font-size: 1em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
  width: 500px;
  height: 320px;
  display: flex;
  align-items: center;
/*   justify-content: center; */
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

#adminEdit > input {
  border-radius: 5px;
  width: 250px;
}

#deleteForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

#topavatar {
  width: 60px;
}

#katt {
  position: sticky;
  width: 200px;
  z-index: 1;
  margin-left: 200px;
  margin-top: 4%;
}

#mainindex {
  margin: 0 auto;
  width: 98%;
  height: 620px;
  display: flex;
  background-color: #d15c5c;
  border-radius: 10px;
}

.whitebox {
  margin: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
}

#headerindex {
  display: flex;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
}

#blackindexEM {
  margin-top: 5px;
  max-height: 45.33px;
}

.logicon {
  height: 30px;
  bottom: 0;
}

#navbar {
  width: 46%;
  float: left;
  margin-top: 1%;
}

#navbar a {
  background-color: #ff9d9d;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 4px;
  margin-left: 10px;
}

#innernavbar {
  display: flex;
  justify-content: space-around;
  background-color: #d15c5c;
  max-height: 100%;
  width: 830px;
  padding: 5px 10px;
  padding-left: 30px;
  margin-left: 20px;
  border-radius: 10px;
}

#notifdropdown {
  float: left;
}

#topbell {
  height: 50px;
}

#dropbtn {
  all: unset;
  height: fit-content;
}

#dropbtn img {
  background-color: #ff9d9d;
  border-radius: 5px;
  margin-right: 630px; /* midlertidig løsning */
}

#navDivIndex {
  width: 54%;
  float: right;
  margin-top: 1%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#navDivIndex span {
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff9d9d;
  color: black;
}

li #imhere {
  background-color: #680000;
  color: white;
}

.centerDiv {
  display: flex;
  margin-top: 1%;
  margin-left: auto;
  margin-right: 1%;
}

select {
  float: right;
}

#filterheader {
  background-color: #cd3838;
  border: black solid;
  width: 50%;
}

#filterheader h3 {
  color: white;
}

h3 {
  font-size: 30px;
  margin: 0%;
}

#filtersindex {
  background-color: #ff9d9d;
  border: black solid;
  width: 60%;
  font-size: 20px;
}

.tagShow {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tagShow > span {
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 1px;
}

.reqtag {
  margin-top: 26px;
}

.fa-bookmark {
  margin-bottom: 13%;
  margin-left: 4%;
}

.fa-bookmark:hover {
  background-color: rgb(185, 37, 37);
}

.fa-bookmark:active {
  background-color: rgb(109, 24, 24);
}

.fa-angle-down {
  margin-left: 18%;
  margin-top: 40px;
}

#newrequest {
  background-color: #680000;
  color: white;
  border: black solid;
  width: 20%;
  text-align: center;
  margin-left: 23%;
}

#newrequest a:link {
  text-decoration: none;
  color: #ffffff;
}

#newrequest a:visited {
  text-decoration: none;
  color: #ffffff;
}

#newrequest button {
  all: unset;
}

h4 {
  font-size: 25px;
  text-align: center;
}

.chatBox {
  margin-top: 2%;
  height: 500px;
  width: 70%;
  margin-right: 10%;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  overflow-x:hidden; 
  overflow-y:auto;
  padding-bottom: 25px;
}

#chat1,
#chat2,
#chat3 {
  display: flex;
  align-items: center;
  font-family: "Doppio One", sans-serif;
  height: 130px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ff9d9d;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 20px;
}

#chatAvatar {
  width: 100px;
  padding-right: 40px;
}

.wrap-collapsible #chatAvatar {
  padding-right: 0px;
}

#searchbutton {
  background-color: #ff9d9d;
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 50px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#searchbox {
  background-color: #ff9d9d;
  border: none;
  border-radius: 3px;
  color: black;
  max-height: 50px;
  margin-left: 729px;
  margin-top: 20px;
  font-size: 28px;
  width: 20%;
}

::placeholder {
  color: rgb(0, 0, 0);
  font-size: 28px;
}

#searchform {
  display: flex;
  align-content: center;
}

.requestheader {
  font-size: 27px;
  margin: 0;
}

.tagItems {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tagItems > label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

label > span {
  border-radius: 3px;
  padding: 2px;
}

span .textinspan {
  all: unset;
  mix-blend-mode: difference;
}

input {
  width: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  top: -1px;
}

.tagItems > input {
  width: 15px;
  height: 15px;
}

.avaname .teachername {
  margin: 0;
}

.dropdownDiv {
  display: flex;
  justify-content: space-between;
}

#verifyForm {
  display: flex;
  flex-direction: column;
}

#verifyForm > #email {
  width: 200px;
}

/* Profile img style in profile.ejs */
.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
}

/* .file-upload {
  display: none;
} */
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  /*   position: absolute;
  top: 72px; */
}
img {
  max-width: 100%;
  height: auto;
}
.p-image {
  position: absolute;
  /* top: 167px;
right: 30px; */
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

/* other profile.ejs styles */

#aboutme {
  width: 99%;
  height: 20%;
  border: #111 solid;
  border-radius: 10px;
  margin: 0 auto;
  resize: none;
}

#left {
  float: left;
  flex: 0.25 1 0;
  height: fit-content;
  margin-right: 30px;
}

#middle {
  float: left;
  flex: 0.25 1 0;
  margin-right: 30px;
}

#right {
  float: right;
  flex: 0.5 1 0;
}

.nameandprofilepicture {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 380px;
  text-align: center;
}

.schooldiv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.jobtitlediv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.linktoschooldiv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.linkwhitediv {
  border: #111 solid;
  background-color: #ffffff;
  padding: 1px;
  border-radius: 10px;
  width: 70%;
  float: right;
  text-align: center;
}

.whitediv {
  border: #111 solid;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.notepinkdiv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: 243px;
}

.notewhitediv {
  border: #111 solid;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.languagediv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.employmentdiv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#employstatus {
  float: none;
}

.pinkexamcorrdiv {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: 173px;
}

.whiteexamcorrdiv {
  border: #111 solid;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.hoursdiv {
  display: flex;
  justify-content: space-around;
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.assoctags {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.edit {
  border: #111 solid;
  background-color: #ff9d9d;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

/* Styles for expanding div index.ejs */
#collapsible[type="checkbox"] {
  display: none;
}

.wrap-collapsible .lbl-toggle {
  display: flex;
}

.wrap-collapsible .fa-bookmark::before {
  position: absolute;
  top: 0;
  left: 94%;
}

.wrap-collapsible {
  position: relative;
}

.lbl-toggle {
  display: block;
  width: 93%;
  margin: 0 auto;
  margin-top: 2%;

  /*   font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase; */
  text-align: center;

  padding: 1rem;

  color: #000000;
  background: rgb(255, 157, 157);
  box-shadow: 1px 1px 1px 1px rgb(163, 103, 103);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

/* .lbl-toggle:hover {
  color: #ffffff;
} */

.lbl-toggle::after {
  content: " ";
  display: inline-block;
  height: 1px;
  margin: auto;
  margin-left: -15px;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(255, 157, 157);
  border-bottom: 1px solid rgb(255, 157, 157);
  box-shadow: 1px 1px 1px 1px rgb(163, 103, 103);
  width: 93%;
  margin: 0 auto;
  z-index: 1;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.collapsible-content .content-inner h1 {
  font-size: 20px;
}

.collapsible-content .content-inner .moreinfo {
  display: flex;
  justify-content: space-between;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Notify button */

#notifyDiv {
  display: flex;
  align-items: center;
  margin-right: 10px;
  -webkit-user-drag: none;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #ff9d9d;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: 0.3s ease;
}

.icon-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.1s ease;
}

.hide {
  display: none;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background: #ff9d9d;
  width: 400px;
  height: 300px;
  z-index: 10;
  top: 0;
  right: 0;
  position: fixed;
  margin-right: 7.8%;
  margin-top: 5%;
  flex-direction: column;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

#alertTexts {
  width: 400px;
  height: fit-content;
  color: black;
}

#alertTexts > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  margin: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}

#alertTexts > button {
  margin-bottom: 10px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 0.5px;
  border-radius: 3px;
  cursor: pointer;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: #d15c5c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.newRequestDiv {
  position: absolute;
  text-align: center;
  top: 42%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%);
}

#requestForm {
  font-size: 1em;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #ff9d9d;
  width: 500px;
  height: 510px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

#requestForm > input {
  border-radius: 5px;
  width: 250px;
}

/* Styles for myrequests.ejs and findteacher.ejs */

#mainindex .centercontent{
  width: 100%;
}

.centercontent{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.centercontent .chatBox{
  margin: 0;
  height: 490px;
}

/* Styles for myrequests.ejs */
#description{
  width: 370px;
  height: 170px;
  resize: none;
}

#descdiv .submitBtn{
  width: fit-content;
  background-color: #680000;
  padding: 5px;
}

/* styles for findteacher.ejs */

.teacherentry{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}

#teacherentryAvatar {
width: 150px;
margin-top: 20px;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1400px) {
  .header {
    height: 10%;
  }

  footer {
    height: 16.5%;
    font-size: 8px;
    margin-top: 100px;
  }

  #requestBox {
    background-color: #d15c5c;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    max-width: none;
    float: none;
    margin-left: 200px;
  }

  #decoBox {
    margin-top: 100px;
  }

  .box div {
    padding: none;
  }

  .requestText {
    margin: 0;
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobil */
}
