@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Doppio One', sans-serif;
  background-color: #FDDEDE;
}

footer {
  overflow: hidden;
  background-color: #FF9D9D;
  text-align: center;
  font-size: 15px;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 25%;
  font-size: 30px;
}

.logoDiv {
  float: left;
  width: 56%;
  height: 100%;
  margin-top: 2%;
}

.logoDiv img {
  float: right;
  width: 20%;
}

.navDiv {
  width: 44%;
  float: right;
  margin-top: 1%;
}

.navDiv span {
  float: right;
  margin-right: 3%;
  padding: 10px;
  border-radius: 10px;
  background-color: #FF9D9D;
  color: black;
}

.navButton {
  float: right;
  padding: 20px;
  justify-content: flex-end;
}

.main {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.box {
  width: 50%;
  max-height: 40%;
}

.box h2 {
  background-color: #FF9D9D;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.box div {
  background-color: #FF9D9D;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

#requestBox {
  background-color: #D15C5C;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  max-width: 40%;
  float: right;
  margin-right: 200px;
}

.requestText {
  font-size: 25px;
}

#decoBox {
  width: 50%;
}

#decoBox img {
  position: absolute;
  margin-top: 53px;
  margin-left: 200px;
  max-height: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_center a {
  text-align: center;
  width: 20%;
}

#examlogo {
  padding-bottom: 3em;
  max-width: 260px;
  margin-top: 2%;
}

#registerBox {
  display: flex;
  justify-content: center;
  background-color: #D15C5C;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
  text-align:center;
  
  
}

#registerForm {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #FF9D9D;
  width: 700px;
}


#registerForm>input {
  border-radius: 5px;
}

#firstname,
#lastname,
#password,
#affSchool,
#email {
  height: 30px;
  padding: 5px;
}

.submitBtn {
  height: 60px;
  width: 195px;
  margin-top : 0.2em;
  margin-bottom : 0.2em;
  margin-right: 0.2em;
  background-color: #CD3838;
  color: #FFFFFF;
  font-family: 'Doppio One', sans-serif;
  font-size: 2.5em;
  border-width: 2px;
  border-style: solid;
  border-color: #111;
}

.submitBtn:hover {
  cursor: pointer;
  
}

.alreadyLogin {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  height: 300px;
  width: 15%;
  background-color: #D15C5C;
  border-radius: 10px;
  font-size: 15px;
  border-style: solid;
}

.alreadyLogin div {
  background-color: #FF9D9D;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: 70%;
}

.alreadyLogin>button {
  background-color: #FF9D9D;
  font-family: 'Doppio One', sans-serif;
  height: 35px;
  width: auto;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 15px;
  border-style: solid;
  border-color: black;
}

.alreadyLogin h2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.alreadyLogin a {
  height: 75%;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  padding: 5px;
}

.alreadyLogin img {
  max-height: 75%;
}

#loginBox {
  background-color: #D15C5C;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
}

#loginForm {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #FF9D9D;
}

#loginForm input {
  border-radius: 5px;
}


.adminBtn {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.adminBtn > button {
  margin: 10px;
  font-family: 'Doppio One', sans-serif;
  width: fit-content;
  background-color:#FF9D9D;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}

.adminBtn > button:hover {
  cursor:pointer
}

.adminContent {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: #D15C5C;
  justify-content: center;
  align-items: center;

}

.adminUsers {
  background-color: #FFFFFF ;
  width: 600px;
  height: 300px;
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

#topavatar{
  width: 60px;
  margin-left: 485px;
}

#katt{
  position: sticky;
  width: 200px;
  z-index: 1;
  padding-left: 100px;

}

#mainindex{
  margin: 0 auto;
  width: 98%;
  height: 755px;
  display: flex;
  background-color: #D15C5C;
  border-radius: 10px;
}

#headerindex {
  display: flex;
  width: 100%;
  height: 9%;
  font-size: 30px;
}

#blackindexEM{
  margin-top: 5px;
  max-height: 45.33px;
}

.logicon{
  height: 30px;
  bottom: 0;
}

#navbar{
  width: 56%;
  float: left;
  margin-top: 1%;
}

#navbar a{
  background-color: #FF9D9D;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 4px;
  margin-left: 10px;
}

#innernavbar{
  background-color: #D15C5C;
  max-height: 100%;
  width: fit-content;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
}







/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */



@media only screen and (max-width: 1400px) {
  .header{
    height: 10%;
  }

  footer{
    height: 16.5%;
    font-size: 8px;
    margin-top: 100px;
  }

  #requestBox {
    background-color: #D15C5C;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    max-width: none;
    float: none;
    margin-left: 200px;
  }

  #decoBox{
    margin-top: 100px;
  }

  .box div{
    padding: none;
  }

  .requestText{
    margin: 0;
    font-size: 20px;
  }

  h2{
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
 /* For mobil */
}