@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

html, body{
  margin: 0;
  height: 100%;
}

body{
  overflow-x: hidden;
  font-family: 'Doppio One', sans-serif;
  background-color: #FDDEDE;
}

footer{
  background-color: #FF9D9D;
  text-align: center;
  font-size: 15px;
  width:100%;
  height: 20%;
  position:absolute;
  bottom:0;
  left:0;
}

.header {
  display: flex;
  width: 100%;
  height: 25%;
  font-size: 30px;
}

.logoDiv{
float: left;
width: 56%;
height: 100%;
margin-top: 2%;
}

.logoDiv img{
  float: right;
  width: 20%;
}

.navDiv{
  width:44%;
  float: right;
  margin-top: 1%;
}

.navDiv span{
  float: right;
  margin-right: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: #FF9D9D;
  color: black;
}

.navButton{
  float: right;
  padding: 20px;
  justify-content: flex-end;
}

.main{
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.box{
  width: 50%;
  max-height: 40%;
}

.box h2{
  background-color: #FF9D9D;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.box div{
  background-color: #FF9D9D;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

#requestBox {
  background-color: #D15C5C;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  max-width: 40%;
  float: right;
  margin-right: 200px;
}

#decoBox {
  width: 50%;
}

#decoBox img {
  position: absolute;
  margin-top: 53px;
  margin-left: 200px;
  max-height: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .content_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }

  .content_center a{
    text-align: center;
    width: 20%;
  }

  #examlogo {
    padding-bottom: 3em;
    width: 100%;
    margin-top: 2%;
  }

  #registerBox{
    background-color: #D15C5C;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    margin: 20px;
  }

  #registerForm {
   border-style: solid;
  }

  .submitBtn {
    display: flex;
    height: 71px;
    width: 197px;
    margin-top: 1em;
    background-color: #CD3838;
    color: #FFFFFF;
    font-family: 'Doppio One', sans-serif;
    border-radius: 10px;
    font-size: 48px;
    justify-content: center;
    border-width: 1px;
  }