<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
</head>

<body>
    


    <div class="header">
        <div class="logoDiv">
            <a href="/"><img src="exammatch.png" /></a>
        </div>
        <div class="navDivLogReg">
            <span>En</span>
        </div>
    </div>

    <style>
        #verifyUser {
            max-width: 100%;
        }

        #verifyLeft {
            max-width: 45%;
            margin: 5% 5%;
        }

        #verifyLeft div {
            overflow-y: auto;
            max-height: 200px;
            width: 100%;
        }

        #verifyLeft p {
            max-width: 85%;
            border-radius: 10px;
            padding: 1px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            background-color: #CD3838;
            color: white;
        }

        .userNameAdmin {
            all: unset;
            width: 85%;
            margin-top: 6%;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            background-color: #FF9D9D;
            color: black;
            padding: 10px;
        }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F6DEDE; 
  border-radius: 10px;
  margin-left: 5px;
}

::-webkit-scrollbar-thumb {
  background: #272525; 
  border-radius: 10px;
}


    </style>


    <div class="content_center">
        <div class="main">
            <div class="adminContent">
                <div class="adminBtn">
                    <button onclick="verifyUser()">Verify User <i class="fa-solid fa-user-check"></i></i></button>
                    <button onclick="editUser()">Edit User <i class="fa-solid fa-user-pen"></i></button>
                    <button onclick="deleteUser()">Delete User <i class="fa-solid fa-user-xmark"></i></button>
                </div>
                <div class="adminUsers">
                    <div id="verifyUser" style="display:none;">
                        <div id="verifyLeft">
                            <p>Pending User Requests</p>
                                <div>
                                    <% users.forEach(function(users) { %>
                                       <button class="userNameAdmin"><%= users.firstname %> <%= users.lastname %></button><br>
                                    <% }); %> 
                                    </div>
                        </div>

                        <div id="verifyRight">

                        </div>
                    </div>
                    <div id="editUser" style="display:none;">
                        <p>this is editUser </p>
                    </div>
                    <div id="deleteUser" style="display:none;">
                        <p>this is deleteUser</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <img id="katt" src="katt.png">
    </div>
    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Daniel Peder Björk, Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

    <script>
        function verifyUser(){
            document.getElementById("verifyUser").setAttribute("style", "display:block");
            document.getElementById("editUser").setAttribute("style", "display:none");
            document.getElementById("deleteUser").setAttribute("style", "display:none");
        }
        function editUser(){
            document.getElementById("verifyUser").setAttribute("style", "display:none");
            document.getElementById("editUser").setAttribute("style", "display:block");
            document.getElementById("deleteUser").setAttribute("style", "display:none");
        }
        function deleteUser(){
            document.getElementById("verifyUser").setAttribute("style", "display:none");
            document.getElementById("editUser").setAttribute("style", "display:none");
            document.getElementById("deleteUser").setAttribute("style", "display:block");
        }
    </script>


</body>

</html>
    

    
  </body>
</html>


