<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <div class="logoDiv">
        <a href="/"><img src="exammatch.png" /></a>
      </div>
      <div class="navDiv">
        <span>En</span>
      </div>
    </div>

    <div class="content_center">
      <div class="main">
          <div class="adminContent">
          <div class="adminBtn">
                <button>Verify User</button>
                <button>Edit User</button>
                <button>Delete User</button>      
          </div>
          <div class="adminUsers">             
        </div>
        </div>
        </div>
      </div>
    </div>
    <div>
        <img id="katt" src="katt.png">
    </div>
    <footer>
      <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
      <p>Authors:</p>
      <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
      <p>Daniel Peder Björk, Ole Ragnar Randen</p>
      <p>Copyright &copy;2022</p>
    </footer>
    
  </body>
</html>
