<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
</head>

<body>



    <div class="header">
        <div class="logoDiv">
            <a href="/"><img src="exammatch.png" /></a>
        </div>
        <div class="navDivLogReg">
            <span>En</span>
        </div>
    </div>

    <style>

        #verifyUser {
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            /* position: relative; */
        }

        .formHolder input {
            width:50%;
            height: 100%;
        }

        .userNameAdmin {
            all: unset;
            width: 85%;
            margin-top: 6%;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            background-color: #FF9D9D;
            color: black;
            padding: 10px;
        }
    </style>


    <div class="content_center">
        <div class="main">
            <div class="adminContent">
                <div class="adminBtn">
                    <button id="verifyBtn" onclick="verifyUser()">Verify User <i
                            class="fa-solid fa-user-check"></i></i></button>
                    <button id="editBtn" onclick="editUser()">Edit User <i class="fa-solid fa-user-pen"></i></button>
                    <button id="deleteBtn" onclick="deleteUser()">Delete User <i class="fa-solid fa-user-xmark"></i></button>
                </div>
                <div class="adminUsers">
                    <div id="verifyUser" style="display:none">
                        <div class="formHolder">
                            <p>Select a user to Verify</p>
                            <div>
                                <form action="/verifyUser" method="POST" id="verifyForm">
                                <select name="email" id="email" required>
                                <option disabled selected value>Select a user</option>
                                <% notVerified.forEach(function(user) { %>
                                    <option><%= user.email %></option>
                                    <% }) %>
                                </select> <br/>
                                <input class="submitBtn" type="submit" value="Verify" />
                            </form>
                            </div>
                        </div>
                    </div>
                    <div id="editUser" style="display:none;">
                        <div class="formHolder">
                        <form method="POST" action="/updateUser" id="registerForm">
                            <label for="email">Select a User to update:</label><br />
                            <select name="email" id="email" required>
                                <option disabled selected value>Select a user</option>
                                <% verified.forEach(function(user) { %>
                                    <option><%= user.email %></option>
                                    <% }) %>
                                </select> <br/>
                            <label for="firstname">Firstname:</label><br />
                            <input type="text" id="firstname" name="firstname" /><br />
                            <label for="lastname">Lastname:</label><br />
                            <input type="text" id="lastname" name="lastname" /><br />
                            <label for="password">Password:</label><br />
                            <input type="password" id="password" name="password" /><br />
                            <label for="affSchool">Affiliated School:</label><br />
                            <input type="text" id="affSchool" name="affSchool" /><br />
                            <input class="submitBtn" type="submit" value="Update" />
                          </form>
                        </div>
                    </div>
                    <div id="deleteUser">
                        <div class="formHolder">
                        <p>Select a user to Delete</p>
                            <div>
                                <form action="/deleteuser" method="GET" id="deleteForm">
                                <select name="email" id="emailInput" required>
                                <option disabled selected value>Select a user:</option>
                                <% verified.forEach(function(user) { %>
                                    <option><%= user.email %></option>
                                    <% }) %>
                                </select>
                                <input class="submitBtn" type="submit" value="Delete" />
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <img id="katt" src="katt.png">
    </div>
    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

    <script>
        function verifyUser() {
            document.getElementById("verifyUser").setAttribute("style", "display:block");
            document.getElementById("editUser").setAttribute("style", "display:none");
            document.getElementById("deleteUser").setAttribute("style", "display:none");

            document.getElementById("verifyBtn").setAttribute("style", "color:white;background-color:#CD3838");
            document.getElementById("editBtn").setAttribute("style", "color:black;background-color:##ff9d9d");
            document.getElementById("deleteBtn").setAttribute("style", "color:black;background-color:##ff9d9d");

            //#ff9d9d
        }
        function editUser() {
            document.getElementById("verifyUser").setAttribute("style", "display:none");
            document.getElementById("editUser").setAttribute("style", "display:block");
            document.getElementById("deleteUser").setAttribute("style", "display:none");

            document.getElementById("verifyBtn").setAttribute("style", "color:black;background-color:##ff9d9d");
            document.getElementById("editBtn").setAttribute("style", "color:white;background-color:#CD3838");
            document.getElementById("deleteBtn").setAttribute("style", "color:black;background-color:##ff9d9d");
        }
        function deleteUser() {
            document.getElementById("verifyUser").setAttribute("style", "display:none");
            document.getElementById("editUser").setAttribute("style", "display:none");
            document.getElementById("deleteUser").setAttribute("style", "display:block");

            document.getElementById("verifyBtn").setAttribute("style", "color:black;background-color:##ff9d9d");
            document.getElementById("editBtn").setAttribute("style", "color:black;background-color:##ff9d9d");
            document.getElementById("deleteBtn").setAttribute("style", "color:white;background-color:#CD3838");
        }
    </script>


</body>

</html>



</body>

</html>