<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a id="imhere" href="index">Home</a></li>
                    <li><a href="myrequests">My Requests</a></li>
                    <li><a href="findteachers">Find Teachers</a></li>
                    <li><a href="mybookmarks">My Bookmarks</a></li>
                </ul>
            </div>
            
        </div>

        <div class="centerDiv">
            <div id="notifyDiv" >
                <button type="button" class="icon-button">
                    <span class="material-icons">notifications</span>
                    <span class="icon-button__badge">2</span>
                  </button>
            </div>
            <div class="navDiv">
                <!-- <div id="notifdropdown">
                    <button onclick="myFunction()" id="dropbtn"><img id="topbell" src="bell.png"
                            alt="notification icon"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <!--                   <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a> -->
                    <!-- </div> 
                </div> -->
                <a href="profile"><img id="topavatar" src="profileavatar.png" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>

    <div id="mainindex">
        <div class="box">
            <div id="filterheader">
                <h3>Filter Requests <i class="fa-solid fa-filter"></i></h3>
            </div>
            <div id="filtersindex">
                <form action="" method="GET">
                    <label for="school">School:</label>
                    <select name="schools" id="school" style="margin-left: 200px; width: 86px;">
                        <option value="none" selected disabled>----------</option>
                        <option value="NTNU">NTNU</option>
                        <option value="UIO">UIO</option>
                        <option value="BI">BI</option>
                        <option value="HINN">HINN</option>
                    </select> <br>
                    <!--                     <label for="subject">Subject:</label>
                    <select name="subjects" id="subject">
                        <option value="none" selected>----------</option>
                        <option value="NTNU">NTNU</option>
                        <option value="UIO">UIO</option>
                        <option value="BI">BI</option>
                        <option value="HINN">HINN</option>
                    </select> <br>  -->
                    <label for="language">Language:</label>
                    <select name="languages" id="language" style="margin-left: 168px; width: 86px;">
                        <option value="none" selected disabled>----------</option>
                        <option value="English">English</option>
                        <option value="Norwegian">Norwegian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="French">French</option>
                    </select> <br>
                    <label for="timeadded">Time Added:</label>
                    <select name="times" id="timeadded" style="margin-left: 152px; width: 86px;">
                        <option value="none" selected disabled>----------</option>
                        <option value="today">today</option>
                        <option value="thisweek">this week</option>
                        <option value="thismonth">this month</option>
                        <option value="thisyear">this year</option>
                    </select>
                </form>

                <h4>Tags:</h4>

                <form>
                    <div class="tagItems" style="border-style: none; padding: 7px;">
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: rgb(76, 76, 76); color: white;"><p class="textinspan">Data</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: blue; color: white;"><p class="textinspan">Design</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: lime; color: white;"><p class="textinspan">Code</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: red; color: white;"><p class="textinspan">Health</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: turquoise; color: white;"><p class="textinspan">Physics</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: green; color: white;"><p class="textinspan">Biology</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: #bcf778; color: white;"><p class="textinspan">Economics</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: brown; color: white;"><p class="textinspan">Law</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: purple; color: white;"><p class="textinspan">Philosophy</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: yellow; color: white;"><p class="textinspan">Engineer</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: #f87cdd; color: white;"><p class="textinspan">Architecture</p></span>
                      </label>
                      <label>
                        <input type="checkbox" /> <span class="textspan" style="background-color: darkblue; color: white;"><p class="textinspan">Math</p></span>
                      </label>
                    </div>
                  </form>

            </div>
            <div id="newrequest">
                <button>New Request</button>
            </div>
        </div>

        <div class="chatBox">
            <form id="searchform" action="">
                <input id="searchbox" type="text" placeholder="Search.." name="search">
                <button id="searchbutton" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div id="chat1">
                <div class="avaname">
                    <img id="chatAvatar" src="profileavatar.png" alt="profile avatar">
                    <p class="teachername">Trine Snuggerud</p>
                </div>
                <div class="reqtag">
                    <p class="requestheader">Hey, teacher in webfundementals in need of an examiner!</p>
                    <div class="tagShow">
                        <span style="background-color: rgb(76, 76, 76); color: white;"><p class="textinspan">Data</p></span>
                        <span style="background-color: blue; color: white;"><p class="textinspan">Design</p></span>
                        <span style="background-color: lime; color: white;"><p class="textinspan">Code</p></span>
                    </div>
                </div>
                <i class="fa-solid fa-angle-down"></i>
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div id="chat2">
                <div class="avaname">
                    <img id="chatAvatar" src="mina.png" alt="profile avatar">
                    <p class="teachername">Mina Larsen </p>
                </div>
                <div class="reqtag">
                    <p class="requestheader">In need of examiner for my medicine class.</p>
                    <div class="tagShow">
                        <span style="background-color: red; color: white;"><p class="textinspan">Health</p></span>
                        <span style="background-color: green; color: white;"><p class="textinspan">Biology</p></span>
                        <span style="background-color: darkblue; color: white;"><p class="textinspan">Math</p></span>
                    </div>
                </div>
                <i class="fa-solid fa-angle-down"></i>
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div id="chat3">
                <div class="avaname">
                    <img id="chatAvatar" src="Berit.png" alt="profile avatar">
                    <p class="teachername">Berit Fransen</p>
                </div>
                <div class="reqtag">
                    <p class="requestheader">My advanced physics class requires one more examiner.</p>
                    <div class="tagShow">
                        <span style="background-color: yellow; color: white;"><p class="textinspan">Engineer</p></span>
                        <span style="background-color: turquoise; color: white;"><p class="textinspan">Physics</p></span>
                    </div>
                </div>
                <i class="fa-solid fa-angle-down"></i>
                <i class="fa-regular fa-bookmark"></i>
            </div>
        </div>
    </div>

    </div>

    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

</body>

</html>