<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a id="imhere" href="index">Home</a></li>
                    <li><a href="myrequests">My Requests</a></li>
                    <li><a href="findteachers">Find Teachers</a></li>
                    <li><a href="mybookmarks">My Bookmarks</a></li>
                </ul>
            </div>

        </div>

        <div class="centerDiv">
            <div class="navDiv">
                <div id="notifdropdown">
                    <button onclick="myFunction()" id="dropbtn"><img id="topbell" src="bell.png"
                            alt="notification icon"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <!--                   <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a> -->
                    </div>
                </div>

                <a href="profile"><img id="topavatar" src="profileavatar.png" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>

    <div id="mainindex">
        <div class="box">
            <div id="filterheader">
                <h3>Filter Requests <i class="fa-solid fa-filter"></i></h3>
            </div>
            <div id="filtersindex">
                <form action="" method="GET">
                    <label for="school">School:</label>
                    <select name="schools" id="school">
                        <option value="none" selected>----------</option>
                        <option value="NTNU">NTNU</option>
                        <option value="UIO">UIO</option>
                        <option value="BI">BI</option>
                        <option value="HINN">HINN</option>
                    </select> <br>
                    <!--                     <label for="subject">Subject:</label>
                    <select name="subjects" id="subject">
                        <option value="none" selected>----------</option>
                        <option value="NTNU">NTNU</option>
                        <option value="UIO">UIO</option>
                        <option value="BI">BI</option>
                        <option value="HINN">HINN</option>
                    </select> <br>  -->
                    <label for="language">Language:</label>
                    <select name="languages" id="language">
                        <option value="none" selected>----------</option>
                        <option value="English">English</option>
                        <option value="Norwegian">Norwegian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="French">French</option>
                    </select> <br>
                    <label for="timeadded">Time Added:</label>
                    <select name="times" id="timeadded">
                        <option value="none" selected>----------</option>
                        <option value="today">today</option>
                        <option value="thisweek">this week</option>
                        <option value="thismonth">this month</option>
                        <option value="thisyear">this year</option>
                    </select>
                </form>

                <h4>Tags:</h4>
            </div>
            <div id="newrequest">
                <button>New Request</button>
            </div>
        </div>

        <div class="chatBox">
                <form id="searchform" action="">
                    <input id="searchbox" type="text" placeholder="Search.." name="search">
                    <button id="searchbutton" type="submit"><i class="fa fa-search"></i></button>
                </form>  
            <div id="chat1"><img id="chatAvatar" src="profileavatar.png" alt="profile avatar"> Chat1</div>
            <div id="chat2"><img id="chatAvatar" src="profileavatar.png" alt="profile avatar"> Chat2</div>
            <div id="chat3"><img id="chatAvatar" src="profileavatar.png" alt="profile avatar"> Chat3</div>
        </div>
    </div>

    </div>

    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Daniel Peder Björk, Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

</body>

</html>