<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="header">
        <div class="logoDiv">
        <a href="/"><img src="exammatch.png"></a>
    </div>
        <div class="navDivLanding">
            <span>En<i class="fa-solid fa-earth-americas"></i></span>
            <a href="register"><span>Register <i class="fa-regular fa-user"></i></span></a>
            <a href="login"><span>Login <i class="fa-solid fa-right-to-bracket"></i></span></a>
            
        </div>
    </div>

    <div class="main">
        <div class="box">
            <div id="requestBox">
            <h2>Request Overview</h2>
            <div>
                <h3>Open Requests:</h3>
                <p class="requestText"><%=openCount%></p>
                <h3>Closed Requests:</h3>
                <p class="requestText"><%=closedCount%></p>
            </div>
        </div>
        </div>

        <div id="decoBox">
            <a href="mailto:EMsupport@ExamMatch.com"><img src="adminGuy.png"></a>
        </div>
    </div>

    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

</body>

</html>