<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/script.js"></script>
</head>
<body>
    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a id="imhere" href="index">Home</a></li>
                    <li><a href="myrequests">My Requests</a></li>
                    <li><a href="findteachers">Find Teachers</a></li>
                    <li><a href="mybookmarks">My Bookmarks</a></li>
                </ul>
            </div>

        </div>

        <div class="centerDiv">
            <div class="navDiv">
                <div id="notifdropdown">
                    <button onclick="myFunction()" id="dropbtn"><img id="topbell" src="bell.png"
                            alt="notification icon"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <!--                   <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a> -->
                    </div>
                </div>

                <a href="profile"><img id="topavatar" src="profileavatar.png" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>
    <div id="mainindex">
        <h1>Make a Request</h1>

        <form method="POST" action="/addRequest" id="registerForm">
            <label for="title">Title:</label><br />
            <input type="text" id="title" name="title" /><br />
            <label for="course">Course:</label><br />
            <input type="text" id="course" name="course" /><br />
            <label for="language">Language:</label><br />
            <input type="language" id="language" name="language" /><br />
            <label for="estimated_workload">Workload:</label><br />
            <input type="number" id="estimated_workload" name="estimated_workload" /><br />
            <label for="tags">Tags (seperate with , ):</label><br />
            <input type="tags" id="tags" name="tags" /><br />
            <label for="description">Description:</label><br />
            <input type="description" id="description" name="description" /><br />
            <input class="submitBtn" type="submit" value="Submit Request" />
          </form>

    </div>


<footer>
    <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
    <p>Authors:</p>
    <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
    <p>Ole Ragnar Randen</p>
    <p>Copyright &copy;2022</p>
</footer>

</body>
</html>