<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div id="headerindex">
        <div id="navbar">
            <div id="innernavbar">
                <ul>
                    <li><img id="blackindexEM" src="exammatchblack.png"></a></li>
                    <li><a href="index">Home</a></li>
                    <li><a href="myrequests">My Requests</a></li>
                    <li><a href="findteacher">Find Teachers</a></li>
                    <li><a href="index">My Bookmarks</a></li>
                </ul>
            </div>

        </div>

        <div class="centerDiv">
            <!-- The alert content -->
            <div id="alertTexts" class="hide">
                <span>Good morning, you have a new request!</span>
                <span>Good morning, a teacher has finished your request!</span>
                <span>Good morning, you have a new request!</span>
                <span>Good morning, a teacher has finished your request!</span>
                <button id="closeAlertTexts" onclick="onButtonClickClose()">Close</button>
            </div>
            <div id="notifyDiv">
                <button type="button" class="icon-button" onclick="onButtonClick()">
                    <span class="material-icons">notifications</span>
                    <span class="icon-button__badge">2</span>
                </button>
            </div>
            <div class="navDiv">
                <a href="profile"><img id="topavatar" src="<%= avatar %>" alt="profile avatar"></a>
                <span>En</span>
                <a href="/"><span>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></span></a>
            </div>


        </div>
    </div>
    <div id="mainindex">
        <div class="newRequestDiv">
            <h1>Make a Request</h1>
            <form method="POST" action="/addRequest" id="requestForm">
                <label for="title">Title:</label><br />
                <input type="text" id="title" name="title" required /><br />
                <label for="course">Course:</label><br />
                <input type="text" id="course" name="course" required /><br />
                <label for="language">Language:</label><br />
                <input type="language" id="language" name="language" required /><br />
                <label for="estimated_workload">Workload:</label><br />
                <input type="number" id="estimated_workload" name="estimated_workload" required /><br />
                <label for="tags">Choose a tag for your request:</label><br />
                <select id="tags" name="tags" required>
                    <option disabled selected value>Select an option</option>
                    <option>Design</option>
                    <option>Economics</option>
                    <option>Health</option>
                    <option>Programming</option>
                </select><br />
                <label for="jobTitle">Choose a Job title for your request:</label><br />
                <select id="jobTitle" name="jobTitle" required>
                    <option disabled selected value>Select an option</option>
                    <option>Associate Professor</option>
                    <option>Full Professor</option>
                    <option>Assistant professor</option>
                    <option>Lecturer</option>
                    <option>Other</option>
                </select><br />
                <div id="descdiv">
                    <label for="description">Description:</label><br />
                    <textarea form="requestForm" id="description" name="description" rows="4" cols="50"
                        required></textarea> <br />
                    <input class="submitBtn" type="submit" value="Post New Request" />
                </div>
            </form>



        </div>

    </div>


    <footer>
        <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
        <p>Authors:</p>
        <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
        <p>Ole Ragnar Randen</p>
        <p>Copyright &copy;2022</p>
    </footer>

    <script>
        function onButtonClick() {
            document.getElementById('alertTexts').className = "show";
        }

        function onButtonClickClose() {
            document.getElementById('alertTexts').className = "hide";
        }
    </script>
</body>

</html>