<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content_center">
      <a href="/"><img id="examlogo" src="exammatch.png" /></a>

        <div id="registerBox">
        <form id="registerForm">
          <label for="course">Firstname:</label><br />
          <input type="text" id="username" name="username" /><br />
          <label for="course">Lastname:</label><br />
          <input type="text" id="username" name="username" /><br />
          <label for="course">Password:</label><br />
          <input type="text" id="password" name="password" /><br />
          <label for="course">Affiliated School:</label><br />
          <input type="text" id="school" name="school" /><br />
          <label for="course">School/work mail:</label><br />
          <input type="text" id="mail" name="mail" /><br />
          <input class="submitBtn" type="submit" value="Register" />
        </form>
      </div>

      <div class="alreadyLogin">
        <h2>Already got a user?</h2>
        <button><a href="./loginpage.ejs">Log In</a></button>
      </div>
      </div>

    <footer>
      <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
      <p>Authors:</p>
      <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
      <p>Daniel Peder Björk, Ole Ragnar Randen</p>
      <p>Copyright &copy;2022</p>
    </footer>
  </body>
</html>
