<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link href="/style/style.css" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/bbadb5f9e0.js" crossorigin="anonymous"></script>

  
</head>

<body>
  <div class="header">
    <div class="logoDiv">
      <a href="/"><img src="exammatch.png" alt="Logo for Exam Match"></a>
    </div>
    <div class="navDivLogReg">
      <span>En <i class="fa-solid fa-earth-americas"></i></span>
    </div>
  </div>
  <div class="content_center">

    <div class="main">
      <div id="registerBox">
        <form method="POST" action="/addUser" id="registerForm">
          <label for="firstname">Firstname:</label><br />
          <input type="text" id="firstname" name="firstname" /><br />
          <label for="lastname">Lastname:</label><br />
          <input type="text" id="lastname" name="lastname" /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" /><br />
          <label for="affSchool">Affiliated School:</label><br />
          <input type="text" id="affSchool" name="affSchool" /><br />
          <label for="email">School/work mail:</label><br />
          <input type="email" id="email" name="email" /><br />
          <input class="submitBtn" type="submit" value="Register" />
        </form>
      </div>

      <div class="alreadyLogin">
        <div>
          <h2>Have an<br>account<br>already?</h2>
          <h2>Click here to login</h2>
        </div>
        <button><a href="login">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a> </button>
      </div>
    </div>
  </div>
  <footer>
    <p>This website was made as a part of the subject IDG2671 Webprosjekt.</p>
    <p>Authors:</p>
    <p>Mons Stenbråten, Sivert Grønli Amundsen,</p>
    <p>Daniel Peder Björk, Ole Ragnar Randen</p>
    <p>Copyright &copy;2022</p>
  </footer>
</body>

</html>