<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="exammatch.png">
    <nav>
        <ul>
            <li>Logged in as Teacher</li>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a class="active" href="index.html">Logout</a></li>
          </ul>
    </nav>
<div id="buttonHolder">
    <button class="teacherBtn">New Request</button>
    <button class="teacherBtn">Edit Request</button>
    <button class="teacherBtn">Open Requests</button>
</div>

    
<footer>
    <p>Copyright &copy;2022</p>
</footer>

</body>
</html>